@model CollabDocEd.Models.DocumentModels.AllDocumentsModel

<a href=""
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-url="/Document/AddDocument/?projectId=@Model.ProjectId"
   data-ajax-update="#addDocument"
   class="btn btn-success"
   data-toggle="modal"
   data-target="#addDocumentModalView">

    Add document
</a>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">FileName</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col">Creator</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var el in Model.Documents)
        {
            <tr>

                <td>
                    <a download asp-controller="Document" asp-action="DownloadFile" asp-route-id="@el.Id">@el.Filename</a>
                </td>
                <td>
                    @el.Description
                </td>
                <td>
                    @el.Created
                </td>
                <td>
                    @el.Creator
                </td>
                @if (Model.Creator == User.Identity.Name || el.Creator == User.Identity.Name)
                {
                    <td>
                        <a href=""
                           data-ajax="true"
                           data-ajax-method="POST"
                           data-ajax-url="/Document/DeleteFile/?projectId=@Model.ProjectId&fileId=@el.Id"
                           data-ajax-update="#divInfo"
                           class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
