@model CollabDocEd.Models.DocumentModels.AllDocumentsModel



    <div class="modal fade" id="addCommentModalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="addComment" role="document">

        </div>
    </div>

<a href=""
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-url="/Document/AddDocument/?projectId=@Model.ProjectId"
   data-ajax-update="#addDocument"
   class="btn btn-success btn-sm"
   data-toggle="modal"
   data-target="#addDocumentModalView">

    Add document
</a>
<hr />
<ul>
    @foreach(var el in Model.Documents)
    {
        <li>
            <div id="@el.Id" class="row clickable-row">
                <div class="col-md">@el.Filename</div>
                <div class="col-md">@el.Description</div>
                <div class="col-md">@el.Creator</div>
                <div class="col-md">@el.Created</div>
            </div>
            <div class="row">
                <div id="commentsContainer" class="col">

                </div>
            </div>
        </li>
    }
</ul>

<script>

    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            $.ajax({
                url: "/Document/GetAllComments",
                data: {
                    documentId: this.id
                },
                success: function (data) { $("#commentsContainer").html(data); }
            });
        });
        
    });
</script>
